In [ ]:
import pandas as pd
from pyapml.shop  import Shop

shp = Shop()
shp.ctry["23"]

df = pd.read_csv("dta/shop2008.csv", sep=";")
df.head()

  year;month;day;order;country;session ID;page 1 (main category);page 2 (clothing model);colour;location;model photography;price;price 2;page
0                 2008;4;1;1;29;1;1;A13;1;5;1;28;2;1
1                 2008;4;1;2;29;1;1;A16;1;6;1;33;2;1
2                 2008;4;1;3;29;1;2;B4;10;2;1;52;1;1
3                 2008;4;1;4;29;1;2;B17;6;6;2;38;2;1
4                  2008;4;1;5;29;1;2;B8;4;3;2;52;1;1